<div class="row" style="margin: 1%;" >
  <div class="col-md-12" style="margin-right: 1%;margin-left: 1%">
    <div class="col-md-2" style="margin-bottom: 1%">
      <button  class="btn btn-sm rounded-3 impression-sm rounded-2" style="text-align: center;background: #1423DC;color:white;padding: 5%;margin-right: 1%;margin-left: 1%" (click)="printPage()">Imprimer</button>
    </div>
    <nz-card style="width:100%;" class="imprimer">
      <div class="row">
        <div class="col-md-12">
          <h4 class="rounded-2" style="text-align: center;background: #1423DC;color:white;padding: 1.5%">Ordonnance</h4>
        </div>
      </div>
      <div class="col-md-12" >
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2">
                <img src="assets/avatar/hopi.png" alt="image" width="65" height="80">
              </div>
              <div class="col-md-10">
                <span class="address-line">Hopital {{hopital?.designation}}</span>
                <span class="address-line">{{hopital?.adresse}}</span>
                <span class="address-line">{{hopital?.email}}</span>
                <span class="address-line">{{hopital?.tel}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-10" style="text-align: right" >
                <span class="address-line">Mr {{onePatient?.prenom}} {{onePatient?.nom}}({{onePatient?.profession}})</span>
                <span class="address-line">{{onePatient?.adresse}}</span>
                <span class="address-line">{{onePatient?.email}}</span>
                <span class="address-line">{{onePatient?.tel}}</span>
              </div>
              <div class="col-md-2">
                <img src="assets/avatar/user.png" alt="image" width="60">
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 4%; font-size: 20px">
          <div class="col-md-6">
            <span >Date de naissance: {{onePatient?.date_naissance | date: 'dd/MM/yyyy'}}</span>
          </div>
          <div class="col-md-6">
            <span>Profession: {{onePatient?.profession}}</span>
          </div>
        </div>
        <div class="row" style="margin-top: 1%; font-size: 20px">
          <div class="col-md-12" style="margin-top: 1%; margin-bottom: 1%">
            <h5>{{ordonnance?.motif}}</h5>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6" style="text-align: left;">
                <span >Produit</span>
              </div>
              <div class="col-md-6" style="text-align: right">
                <span >Quantité</span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6" style="text-align: left;">
                <span >{{ordonnance?.type}}</span>
              </div>
              <div class="col-md-6" style="text-align: right;">
                <span >{{ordonnance?.type}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 2%">
          <div class="col-md-12">
            <h6>{{ordonnance?.description}}</h6>
          </div>
        </div>

        <div class="row" style="margin-top: 8%; font-size: 20px">
          <div class="col-md-5">
            <span >Fait à Lyon: le {{ordonnance?.createdAt | date: 'dd/MM/yyyy'}}</span>
          </div>
          <div class="col-md-7" style="text-align: right">
            <span >Consulté par: Dr {{onePersonnel?.nom}} {{onePersonnel?.prenom}}</span>
          </div>
        </div>
      </div>
    </nz-card>
  </div>
</div>
