<nz-modal  [(nzVisible)]="isVisible" nzTitle="connexion" (nzOnCancel)="handleCancel()" [nzWidth]="400" [nzBodyStyle]="yourCustomStyles">
  <div *nzModalContent>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <nz-card style="width:100%"  >
          <div class="row">
            <div class="col-md-12">
              <h4 style="text-align: center;background: #1423DC;color:white;padding: 1.5%;width: 100%">Connectez-vous</h4>
            </div>
          </div>
          <div class="col-md-10 offset-md-1" >
            <form nz-form #f="ngForm" class="login-form" >
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                  <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input name="username" ngModel placeholder="Username ou email" class="form-control" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                  <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input name="password" ngModel placeholder="Password" class="form-control" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <button (click)="login(f)" nz-button class="login-form-button login-form-margin rounded-2" style="background: #1423DC;color: white">Connexion</button>

              <button style="border: none; background: white">
                <span (click)="openInscription()" style="font-size: 15px;color:black">Inscription</span>
              </button>
            </form>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
  <div *nzModalFooter>
    <div class="row">

    </div>
  </div>
</nz-modal>
<app-user-create></app-user-create>
