<!--<nz-layout style="background: #1423DC;color: white" >
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" *ngIf="!isPrinting">
    <div class="logo"></div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed" >
      <li nz-submenu nzTitle="Profile" nzIcon="user" style="color: white">
        <ul>
          <li nz-menu-item>
            <a  routerLink="/rendv/mesRdv">Mes rendez-vous</a>
          </li>
          <li nz-menu-item >
            <a  routerLink="/patient/">Mes patients</a>
          </li>
          <li nz-menu-item>
            <a  routerLink="/user/profile/{{user?.slug}}">Profile</a>
          </li>
          <li nz-menu-item>
            <a  routerLink="/">Déconnexion</a>
          </li>
        </ul>
      </li>
&lt;!&ndash;      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>&ndash;&gt;

      <li nz-menu-item nzMatchRouter >
        <span nz-icon nzType="user"></span>
        <span>
          <a style="color: white" routerLink="/user">Utilisateur</a>
        </span>
      </li>
      <li nz-menu-item nzMatchRouter >
        <span nz-icon nzType="file"></span>
        <span>
          <a style="color: white" routerLink="/hopital" >Hopital</a>
        </span>
      </li>
      <li nz-menu-item nzMatchRouter >
        <span nz-icon nzType="user"></span>
        <span>
          <a style="color: white" routerLink="/personnel" >Personnel</a>
        </span>
      </li>
      <li nz-menu-item nzMatchRouter >
        <span nz-icon nzType="user"></span>
        <span>
          <a style="color: white" routerLink="/patient" >Patient</a>
        </span>
      </li>
      <li nz-menu-item nzMatchRouter >
        <span nz-icon nzType="file"></span>
        <span>
          <a style="color: white" routerLink="/rendv" >Rendez-vous</a>
        </span>
      </li>
      <li nz-menu-item nzMatchRouter >
        <span nz-icon nzType="file"></span>
        <span>
          <a style="color: white" routerLink="/rendv/priseRdv">Rendez-vous</a>
        </span>
      </li>
      <li nz-menu-item nzMatchRouter >
        <span nz-icon nzType="file"></span>
        <span>
          <a style="color: white" routerLink="/consultation">Consultation</a>
        </span>
      </li>
      <li nz-menu-item nzMatchRouter >
        <span nz-icon nzType="file"></span>
        <span>
          <a style="color: white" routerLink="/examen">Examen</a>
        </span>
      </li>
      <li nz-menu-item nzMatchRouter >
        <span nz-icon nzType="file"></span>
        <span>
          <a style="color: white" routerLink="/ordonnance">Ordonnance</a>
        </span>
      </li>

&lt;!&ndash;      <li nz-menu-item>
        <span nz-icon nzType="file"></span>
        <span>File</span>
      </li>&ndash;&gt;

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header *ngIf="!isPrinting">
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
            (click)="getMenu()"
          ></span>
          <span style="text-align: right;margin-left: 85%" >
            <a *ngIf="connexionService.userInfo?.length == 0" routerLink="/connexion/login" class="btn-sm rounded"  style="color:white;border: none;background: #1423DC;color:white;margin-left: 17px;padding-left: 15px;padding-right: 15px;padding-bottom: 8px;padding-top: 8px;text-align: right;">
              Connexion
            </a>
            <span (click)="logout()" *ngIf="connexionService.userInfo?.length > 0" class="btn-sm rounded"  style="color:white;border: none;background: Red;color:white;margin-left: 17px;padding-left: 15px;padding-right: 15px;padding-bottom: 8px;padding-top: 8px;text-align: right;">
              Deconnexion
            </span>
          </span>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
      </nz-breadcrumb>
      <div class="inner-content" [ngStyle]="{'margin-top': '80px', 'margin-left': left}">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer *ngIf="!isPrinting">Nos news letters</nz-footer>
  </nz-layout>
</nz-layout>-->

<app-menu></app-menu>
<router-outlet></router-outlet>


