.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}

.steps-action {
  margin-top: 24px;
}

button {
  margin-right: 8px;
}

.impression-sm,.zone {
  background: #1423DC;
  color: white;
}
.cco{
  text-align: left;
}
input,textarea{
  text-align: left;
}


